@*
    Name: AnimalDetailsPage.razor
    Author: Charles Clayton
    Description: Gets specific details for a single animal
*@

@page "/animals/details/{Id}"

@if (animal == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 class="page-title">@animal.Name the @animal.Type</h1>
    <h3>ID # @animal.Id</h3>
    <p>
        <br />
        <div>
            <label>Age:</label>
            @animal.Age
        </div>
        <br />
        <div>
            <label>Health Concerns:</label>
            @animal.HealthConcerns
        </div>
        <br />
        <div>
            <label>Feeding Schedule</label>
            @animal.FeedingSchedule
        </div>
    </p>

    <footer>
        <a href="/animals" class="btn btn-primary">Back</a>
        <a href="/animals/edit/@Id" class="btn btn-primary">Edit</a>
    </footer>
}